<section
  class="microphone-fix"
  (isListening)="onListening($event)"
  (transcriptChange)="onTranscriptChange($event)"
  ishSpeechRecognition
>
  <div *ngIf="listening; else mic">
    <p class="microphone-text">
      <span class="textarea" role="textbox" contenteditable>{{ transcript }}</span>
    </p>
    <button class="microphone-badge pause badge badge-pill badge-primary pulse" id="stopSpeech">
      <fa-icon icon="pause" class="icon-color" size="lg"></fa-icon>
    </button>
  </div>
  <ng-template #mic>
    <button class="microphone-badge badge badge-pill badge-primary" id="startSpeech">
      <fa-icon icon="microphone" class="icon-color" size="lg"></fa-icon>
    </button>
  </ng-template>
</section>
