<section class="microphone-fix">
  <div *ngIf="listening$ | async; else mic">
    <div>{{ transcript$ | async }}</div>
    <button (click)="stop()" class="microphone-badge pause badge badge-pill badge-primary pulse">
      <fa-icon icon="pause" class="icon-color" size="lg"></fa-icon>
    </button>
  </div>
  <ng-template #mic>
    <button (click)="start()" class="microphone-badge badge badge-pill badge-primary">
      <fa-icon icon="microphone" class="icon-color" size="lg"></fa-icon>
    </button>
  </ng-template>
</section>
