<section>
  <button
    *ngIf="listening$ | async; else mic"
    (click)="stop()"
    class="microphone-badge pause badge badge-pill badge-primary pulse"
  >
    <fa-icon icon="pause" class="icon-color" size="lg"></fa-icon>
  </button>
  <ng-template #mic>
    <button (click)="start()" class="microphone-badge badge badge-pill badge-primary">
      <fa-icon icon="microphone" class="icon-color" size="lg"></fa-icon>
    </button>
  </ng-template>
</section>
<section *ngIf="transcript$ | async">
  <mat-card>{{ transcript$ | async }}</mat-card>
</section>
