@import 'variables';

.microphone-fix {
  position: fixed;
  right: $space-default * 2;
  bottom: $space-default * 2;
}

.microphone-text {
  position: fixed;
  right: $space-default * 2;
  bottom: $space-default * 6;
  max-width: 300px;
  height: auto;
  padding: $space-default;
  border: 1px solid $border-color-default;
}

.microphone-badge {
  position: relative;
  z-index: 20000;
  padding: 20px 22px;
  font-size: 16px;
  background-color: $CORPORATE-PRIMARY;
  border: none;

  &.pause {
    padding: 20px 23px;
  }
}

.textarea {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  line-height: 20px;
  resize: both;
}

.textarea[contenteditable]:empty::before {
  color: gray;
  content: '""';
  background: $white;
}

.icon-color {
  color: #fff;
}

.pulse {
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #688dc3;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #688dc3;
  }

  70% {
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
